.btnAdd {
    -fx-background-color: #3F72AF;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.btnAdd:hover{
-fx-background-color: #112D4E;
    -fx-font-size: 17px;
}

.btnUpdate{
    -fx-background-color: #00E676;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.btnUpdate:hover {
    -fx-background-color: #03c466;
    -fx-font-size:17px;
}

.btnDashboard{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 5px;
    -fx-background-color: #1b5e81;
}

.btnDashboard:hover{
    -fx-font-size: 17px;
    -fx-background-color: #227aa8;
}